<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<title>Employee Manager</title>
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />
</head>
<body>
	<div class="container" role="main">



		<!--  1 simple button ----------------------------------------------------------- -->
		<div class="row">
			<div class="col-md-10">
				<h1>Spring Data JPA</h1>
			</div>

			<div class="col-md-2">
				<a href="fillEmployeeList">
					<button type="button" class="btn btn-success">Fill List</button>
				</a>
			</div>
		</div>
		<hr>

		<!--  search by Id ----------------------------------------------------------- -->
		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal" action="findById" method="post">
					<div class="form-group">
						<label class="control-label col-md-2" for="id">Find by Id:</label>
						<div class="col-md-5">
					 		<input type="text" name="id">
						</div>
						<div class="col-md-5">
					  		<input class="btn btn-default" type="submit" value="Do it">
						</div>		
					</div>		
				</form>
			</div>
		</div>

		<hr>

		<!--  paging example ----------------------------------------------------------- -->
		<div class="row">
			<div class="col-md-12">
				<form class="form-horizontal" action="getPage" method="post">
					<div class="form-group">
						<label class="control-label col-md-2" for="page">Page:</label>
						<div class="col-md-5">
					 		<input type="text" name="page">
						</div>
					</div>		
					<div class="form-group">
						<label class="control-label col-md-2" for="size">Size:</label>
						<div class="col-md-5">
					 		<input type="text" name="size">
						</div>
						<div class="col-md-5">
					  		<input class="btn btn-default" type="submit" value="Do it">
						</div>		
					</div>		
				</form>
			</div>

		</div>

		<hr>


		<!--  Search + Fill ----------------------------------------------------------- -->
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" method="post" action="find">
						<div class="form-group">
							<label class="control-label col-md-2" for="searchType">Search:</label> 
							<div class="col-md-5">
								<select name="searchType">
									<option value="query1" selected="selected">Show all employees</option>							
									<option value="query2">Filter employees by last name</option>
									<option value="query3">Filter employees by first name</option>
									<option value="query4">Filter employees by first name or last name</option>
									<option value="query5">search with named query</option>
									<option value="query6">count employees by lastname</option>
									<option value="query7">delete employees with given lastname</option>
									<option value="query8">delete all employees from company</option>
									<option value="query9">list of employees where last name or first name contains a given searchstring</option>
									<option value="query10">order list by last name</option>
									<option value="query11">Sort all employees by last name ascending (top 10)</option>
									<option value="query12">sort employees by lastname @ company</option>
									<option value="query13">not older than 40 </option>
									<option value="query14">born between 1980 and 1985</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="searchString">SearchString:</label>
						<div class="col-md-5">
					 		<input type="text" name="searchString"> 
						</div>
						<div class="col-md-5">
					  		<input class="btn btn-default" type="submit" value="Do it">
						</div>		
					</div>	
				</form>
			</div>
			</div>
			<hr>

			<!--  Search + Fill ----------------------------------------------------------- -->
			<h3>Count: <span th:text="${count}"></span></h3>
			<hr>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">

				<table data-toggle="table" class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Company</th>
							<th>DOB</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<!--  list all items ----------------------------------------------------------- -->
						<tr th:each="employee : ${employees}">
							<td th:text="${employee.id}"></td>
							<td th:text="${employee.firstName}"></td>
							<td th:text="${employee.lastName}"></td>
							<td th:text="${employee.company.name}"></td>
							<td th:text="${#calendars.format(employee.dayOfBirth,'dd.MM.yyyy')}"></td>
							<td><a th:href="@{/delete(id=${employee.id})}">Delete</a></td>
							
						</tr>
						<!--  list all items ----------------------------------------------------------- -->
					</tbody>
				</table>
								
			</div>
		</div>
	</div>
	<!--  End of container -->
	<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />
</body>
</html>
